@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}
span{
    font-size: 100px;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.2s;
}
.text-light{
    color: rgb(39, 13, 204);
    text-shadow: 0px 0px 10px rgb(65, 9, 232),0px 0px 20px rgb(17, 17, 247), 0px 0px 30px rgb(52, 8, 247), ;
}